* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
  background-color: cornflowerblue;
}

button {
  padding: 20px 40px;
  border-radius: 10px;
  border: none;
  outline: none;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  background-color: burlywood;
  perspective: 200px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

button::before {
  content: "HOVER ME";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: aqua;
  border-radius: 10px;
  transform-origin: top;
  transform: rotatex(300deg);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s;
}
button::after {
  content: "HOVER ME";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 10px;
  transform-origin: top;
  transform: rotatex(300deg);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s 0.6s;
}

/* Hover: both flip in */
button:hover::before {
  transform: rotatex(0deg);
  opacity: 1;
  transition-delay: 0s;
}
button:hover::after {
  transform: rotatex(0deg);
  opacity: 1;
  transition-delay: 0.6s;
}

/* When hover ends: make red go back first */
button::after {
  transition-delay: 0s; /* red leaves first */
}
button::before {
  transition-delay: 0.6s; /* aqua leaves later */
}
