* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #222;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  color: #fbb93b;
  letter-spacing: 3px;
  padding: 25px 50px;
  border: 3px solid #fbb93b;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

a::before,
a::after,
span::after,
span::before {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: #fbb93b;
  z-index: -1;
  transition: all 0.5s;
}

a:before {
  top: 0;
  left: -25%;
}

a:hover:before {
  top: 0;
  left: 0;
}

a:after {
  top: -100%;
  left: 25%;
  width: 30%;
}

a:hover:after {
  top: 0;
  left: 25%;
}

a:hover {
  color: #222;
}

a span::before {
  top: 100%;
  right: 25%;
}

a:hover span::before {
  top: 0;
  right: 25%;
}

a span::after {
  top: 0%;
  right: -25%;
}

a:hover span::after {
  top: 0;
  right: 0%;
}
