body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: sans-serif;
  background-color: #272727;
}

a {
  text-decoration: none;
  padding: 15px 30px;
  color: #00aeff;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
  border: 2px solid;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  transition: all 0.8s;
}

.wave {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: calc(100% + 22px);
  background-color: #00aeff;
  z-index: -1;
  transition: all 1s;
}

a:hover .wave {
  top: 0;
}

a:hover {
  color: whitesmoke;
}

.wave::before {
  content: "";
  position: absolute;
  top: -20px;
  left: 0;
  width: 100%;
  height: 22px;
  background: url("wave.png");
  animation: wavy 0.5s linear infinite;
  animation: name duration timing-function delay iteration-count direction
    fill-mode;
}

@keyframes wavy {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 118px;
  }
}
