@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #0c2461;
}

.container {
  width: 600px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  position: relative;
  width: 155px;
  height: 50px;
  margin: 20px;
}

.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.051);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(250, 52, 52, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 10;
  color: aliceblue;
  border-radius: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  overflow: hidden;
  backdrop-filter: blur(15px);
  transition: all 0.5s;
}

.btn:hover a {
  letter-spacing: 3px;
}

.btn a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
  transform: skewX(30deg);
  transition: all 0.4s;
  transition-delay: 0.4s;
}

.btn:hover a::before {
  width: 100%;
  transform: translateX(200%);
}

.btn:before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  width: 50%;
  height: 100%;
  transform: translateX(-50%);
  background: #ff0461;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: all 0.5s;
  transition-delay: 0s;
}

.btn:hover::before {
  width: 80%;
  height: 50%;
  bottom: 0px;
  border-radius: 30px;
  transition-delay: 0.5s;
}
.btn:after {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  width: 50%;
  height: 100%;
  transform: translateX(-50%);
  background: #ff0461;
  width: 30px;
  height: 10px;
  border-radius: 10px;
  transition: all 0.5s;
  transition-delay: 0s;
}

.btn:hover::after {
  width: 80%;
  height: 50%;
  top: 0px;
  border-radius: 30px;
  transition-delay: 0.5s;
}
